<div class="modal fade" id="piper_tts_about" tabindex="-1" role="dialog" aria-labelledby="piper_tts_about_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="piper_tts_about_title">О модуле Piper TTS</h4>
            </div>
            <div class="modal-body" style="padding-bottom:1px;">
                <div style="float:right;margin-left:15px;">
                    <img src="/img/modules/piper_tts.png" width="64" height="64">
                    <br><br>
                    <p><b>v [#VERSION#]</b></p>
                </div>
                <p>Модуль <strong>Piper TTS</strong> для системы умного дома <strong>Majordomo</strong>.</p>
                <p>Обеспечивает синтез русской речи на основе нейросетевого движка <strong>Piper</strong> (VITS/ONNX). Поддерживает локальный запуск и подключение к удалённому HTTP API Piper. Включает нормализацию текста: числа прописью, единицы измерения с русскими окончаниями, часовые пояса, аббревиатуры.</p>
                <p><a href="https://github.com/golnet1/majordomo-piper_tts" target="_blank">https://github.com/golnet1/majordomo-piper_tts</a></p>
                <p>
                    Документация в <a href="https://kb.mjdm.ru/piper_help/" target="_blank">Базе знаний</a>.<br>
                    Обсуждение модуля в <a href="https://t.me/+ax_z51oPyaowMzAy" target="_blank">telegram</a>.<br>
                    Проект в <a href="https://github.com/golnet1/majordomo-piper_tts" target="_blank">Github</a>.<br>
                    Проект в <a href="https://connect.smartliving.ru/addons/category4/312.html" target="_blank">Connect</a>.
                </p>
                <hr>
                <p>Поддержать разработку и развитие модуля:</p>
                <ul>
                    <li>Yandex: <a href="https://yoomoney.ru/to/4100130728468" target="_blank">4100130728468</a></li>
                    <li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/933.html" target="_blank">Connect</a></li>
                </ul>
            </div>
            <div class="modal-footer" style="margin-top:1px;">
                <div class="pull-left">Автор: <a href="https://t.me/golnet96" target="_blank">Олег Малов</a></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>